streamlit
requests
mwparserfromhell
transformers
torch
tqdm
pandas
numpy
tldextract
beautifulsoup4
scikit-learn
selenium
networkx
fuzzywuzzy
python-Levenshtein
plotly>=5.0
# Dev / testing
pytest
joblib