streamlit
selenium
beautifulsoup4
networkx
tqdm
sentence-transformers
scikit-learn
fuzzywuzzy
python-Levenshtein
pandas
mwparserfromhell
requests
torch
transformers
webdriver-manager
tldextract  # <--- Add this line!